<style type="text/css">

#category_products_container {
	position: relative;
}
#category_products_overlay {
	/*display: none;*/
}
#category_products_shadow {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 70px;
    margin-top: -35px; 
    margin-left: -100px;
    padding: 0;
}
#category_products_overlay_text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 180px;
	height: 50px;
	margin-left: -90px;  
	margin-top: -25px;
	line-height: 50px;
    text-align: center;
    border: none;
}

</style>

<?php	
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
?>
<div class="page-title category-title">
    <?php if($this->IsRssCatalogEnable() && $this->IsTopCategory()): ?>
        <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $this->__('Subscribe to RSS Feed') ?></a>
    <?php endif; ?>
    <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php if($_imgUrl): ?>
    <?php echo $_imgHtml ?>
<?php endif; ?>

<?php if($_description=$this->getCurrentCategory()->getDescription()): ?>
    <div class="category-description std">
        <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
    </div>
    <?php endif; ?>

<?php if($this->isContentMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
<?php elseif($this->isMixedMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
	   <div id="category_products_container"> 
	   		<?php echo $this->getProductListHtml() ?> 
	   </div>

<?php else: ?>
	   <div id="category_products_container"> 
	   		<?php echo $this->getProductListHtml() ?> 
	   </div>

<?php endif; ?>
<script type="text/javascript">
	var catAjaxNavUrl = '<?php echo $this->getUrl('catajaxnav', array ('id' => $_category->getId())) ?>';
	var layerCatAjaxNavUrl = '<?php echo $this->getUrl('catajaxnav/index/layer', array ('id' => $_category->getId())) ?>';
</script>