<?php
 $values = Zend_Json::encode($this->getItemsText());
?>
<p>
	<label for="slider_amount_<?php echo $this->getAttributeCode() ?>"><?php echo uc_words($this->getAttributeCode()) ?> range:</label>
	<input type="text" id="slider_amount_<?php echo $this->getAttributeCode() ?>" style="border:0; color:#f6931f; font-weight:bold;" />
</p>

<div class="slider-set" id="slider_set_<?php echo $this->getAttributeCode()?>" >	
	<div id="slider_handle_min_<?php echo $this->getAttributeCode()?>" class="slider-handle-min"></div>
	<div id="slider_handle_max_<?php echo $this->getAttributeCode()?>" class="slider-handle-max"></div>
</div>

<script type="text/javascript">
	catAjaxNavSliderData[ '<?php  echo $this->getAttributeCode() ?>' ] = {
        max:    	 <?php echo  $this->getFilterMaxValue() ?>, 
        currentMin: <?php echo $this->getCurrentMin() ?>,
        currentMax: <?php echo $this->getCurrentMax() ?>,
   	    values:	 <?php echo $values ?>		
   };
	
</script>