<ol>
<?php foreach ($this->getItems() as $_item): ?>	
    <li>
        <?php if ($_item->getCount() > 0): ?>
        <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>" onclick="setLayerAjaxLocation(this.href); return false;"><?php echo $_item->getLabel() ?></a>
        <?php else: echo $_item->getLabel() ?>
        <?php endif; ?>
        (<?php echo $_item->getCount() ?>)
    </li>   
<?php endforeach ?>
</ol>
