<style type="text/css">
  div.slider-set { border-radius:5px; width:100%; margin:0px 0; background-color:#ccc; height:20px; position: relative; }
  div.slider-range { border-radius:5px; width:100%; margin:0px 0; background-color:#ccc; height:20px; position: relative; }
  div.slider-handle-min { border-radius:5px; width:10px; height:20px; margin-left: -10px; background-color:#f00; cursor:move; position: absolute; }
  div.slider-handle-max { border-radius:5px; width:10px; height:20px; margin-right: -10px; background-color:#f00; cursor:move; position: absolute; }
</style>

<script type="text/javascript">
	var catAjaxNavSliderData = {};
</script>

<?php if(1 || $this->canShowBlock()): ?>
<div class="block block-layered-nav">
    <div class="block-title">
        <strong><span><?php echo $this->__('Shop By') ?></span></strong>
    </div>
    <div class="block-content">
        <?php echo $this->getStateHtml() ?>
        <?php if(1 || $this->canShowOptions()): ?>
            <p class="block-subtitle"><?php echo $this->__('Shopping Options') ?></p>
            <div id="filter_narrow-by-list">
	            <dl id="narrow-by-list">
	                <?php $_filters = $this->getFilters() ?>
	                <?php foreach ($_filters as $_filter): ?>
		                <?php if (is_subclass_of($_filter, 'Mage_Catalog_Block_Layer_Filter_Price') 
		                || is_subclass_of($_filter, 'Mage_Catalog_Block_Layer_Filter_Decimal')
		                || is_subclass_of($_filter, 'Mage_Catalog_Block_Layer_Filter_Attribute')
		                || $_filter->getItemsCount() ):?>
			                    <dt><?php echo $this->__($_filter->getName()) ?></dt>
			                    <dd><?php echo $_filter->getHtml(); ?></dd>
		                <?php endif; ?>
			            
			        <?php endforeach; ?>
	            </dl>
            </div>
            <script type="text/javascript">decorateDataList('narrow-by-list')</script>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
<script type="text/javascript">
	var sliderCatAjaxNavUrl = '<?php echo $this->getUrl('catajaxnav/index/layer', array ('_current'=>true, '_use_rewrite'=>true)) ?>';	
</script>

